.layout {
    display: flex;
    border: solid 1px blue;
}



/*Image carousel*/
.carousel {
    width: 600px;
    position: relative;
}

.image-slideshow {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}

.slides-wrapper {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.slides-wrapper img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
}

.image-slideshow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: gray;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    border-radius: 4px;
}

.image-slideshow:active {
    background-color: rgb(83, 83, 83);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*Info area*/
.info-area {
    display: flex;
    flex-direction: column;
}

.info-area li{
    padding: 1px;
}

.info-area ul {
    list-style-type: none;
}

.info-area ul li h3 {
    color: red;
}

.info-area ul li:nth-child(2) {
    font-weight: bold;
}

.info-area ul li:nth-child(3) i {
    color: yellow;
}
/*Product discription*/
.product-description{
    border: solid 1px blue;
    margin: 5px 0;
}