.carousel {
    width: 600px;
    position: relative;
}

.image-slideshow {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
}

/* Đây mới là dải slide thực sự */
.slides-wrapper {
    display: flex;
    width: 300%; /* 3 ảnh → 3x100% */
    transition: transform 0.5s ease;
}

.slides-wrapper img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
}

/* Nút điều hướng */
.image-slideshow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: gray;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    border-radius: 4px;
}

.image-slideshow:active{
    background-color: rgb(83, 83, 83);
}

.prev { left: 10px; }
.next { right: 10px; }

.layout{
    display: flex;
}

.layout ul{
    list-style-type: none;
}

.layout ul li:nth-child(1){
    color: red;
}

.layout ul li:nth-child(2){}

.layout ul li:nth-child(3){}
